*{
    margin: 0;
    padding:0;
    background-color: black;
}
#container{
    margin: 50px;
}
h1,p{
    margin-bottom: 20px;
    color: white;
}
#increment,#decrement{
    background-color: white;
    border: none;
    padding: 10px 20px;
    margin-right:30px ;
    cursor: pointer;
}
#clear{
    background-color: inherit;
    border: 1px solid white;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
}
#increment:hover,#decrement:hover,#clear:hover{
opacity: 0.9;
box-shadow: 2px 2px 10px white;
border-radius: 5px;
}
.errorMessage{
    color: red;
}
